/* =================Base================== */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fbfbfb;
  font-family: "Roboto", sans-serif;
  color: #343434;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  padding: 0 16px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 720px) {
  .container {
    width: 720px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1340px) {
  .container {
    width: 1340px;
    padding: 0 15px;
  }
}

/* ==================header======================= */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  width: 320px;
  position: fixed;
  background-color: #fbfbfb;
  top: 0;
  z-index: 9999999;
}
.logo {
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover {
  scale: 110%;
}
.header-navigate {
  display: none;
  align-items: center;
  gap: 48px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-courses-btn {
  border-color: transparent;
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
  position: relative;
}
.header-item {
  padding: 12px 8px;
  display: flex;
  align-items: center;
}
.header-nav-link {
  color: #343434;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link:hover,
.header-nav-link:active,
.header-nav-link:focus {
  color: #003366;
}
.active {
  color: #003366;
  position: relative;
}
.active::after {
  content: "";
  height: 1px;
  width: 65px;
  background-color: #003366;
  position: absolute;
  bottom: -5px;
  left: -10px;
}
.login-btn {
  display: flex;
  padding: 14px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  border-color: transparent;
  color: #fff;
  background-color: #036;
  font-size: 20px;
  line-height: 150%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.login-btn:hover,
.login-btn:active,
.login-btn:focus {
  color: #036;
  background-color: #fff;
  border-color: #036;
}
.header-icon {
  width: 20px;
  height: 20px;
}
.mobile-menu-btn{
border-color: transparent;
background-color: transparent;
}
.mobile-menu-icon{
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 720px) {
  .header-container {
    width: 720px;
  }
}
@media screen and (min-width: 1340px) {
  .header-container {
    width: 1340px;
  }
  .header-navigate{
    display: flex;
  } 
  .mobile-menu-btn{
  display: none;
  }
}
/* ==================hero======================= */
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 50px 0;
  margin-top: 80px;
}

.hero-text-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #036;
}
.hero-title {
  color: #fbfbfb;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%; /* 57.6px */
  text-transform: uppercase;
  margin-bottom: 16px;
}
.hero-text {
  color: #fbfbfb;
  font-family: Roboto;
  font-size: 18px;

  line-height: 150%; /* 27px */
  align-self: stretch;
  margin-bottom: 40px;
}
.hero-link {
  display: flex;
  padding: 14px 20px;
  border-radius: 14px;
  background-color: #fbfbfb;
  color: #036;
  font-size: 20px;

  line-height: 150%; /* 30px */
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link:hover,
.hero-link:active,
.hero-link:focus {
  color: #fff;
  background-color: #036;
}
@media screen and (min-width: 1340px) {
  .hero-container {
    flex-direction: row;
    
  }
  .hero-text-container {
    padding: 100px 80px;
  
  }
  .hero-title {
    font-size: 48px;
  }
}

/* ================== advantages ======================= */
.advantages-section {
  background-color: #e0e7ef;
  padding: 53px 0;
}

.advantages-title {
  padding: 30px;
  border-radius: 16px;
  background-color: #fbfbfb;
  align-self: stretch;
  color: #036;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantages-item {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 14px;
  background-color: #fbfbfb;
}
.advantages-item-title {
  color: #036;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 150%; /* 36px */
  text-transform: uppercase;
}
.advantages-icon {
  width: 64px;
  height: 64px;
}
.advantages-text {
  color: #343434;
  text-align: center;
  font-size: 18px;

  line-height: 150%; /* 27px */
}
@media screen and (min-width: 1340px) {
  .advantages-title {
    font-size: 42px;
    padding: 30px 300px 30px 50px;
  }
  .advantages-list {
    flex-direction: row;
  }
  .advantages-item {
    width: 431px;
  }
}
/* ================== about us ======================= */
.about-us-section {
  padding: 50px 0;
}

.about-us-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.about-us-title {
  color: #036;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.about-us-link {
  visibility: hidden;
}
.detail-text {
  padding-left: 10px;
}
.arrow-icon {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background-color: #036;
}
.about-us-content-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-us-first-container {
  display: inline-flex;
  box-sizing: border-box;
  padding: 37px 34px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 21px;
  border-radius: 14px;
  background-color: #036;
  margin-bottom: 31px;
}
.about-us-content-title {
  color: #fbfbfb;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.about-us-text-figure {
  color: #fbfbfb;
  text-align: center;
  font-family: " Poppins", sans-serif;
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
}
.about-us-text-main {
  color: #fbfbfb;
  font-size: 18px;
  line-height: 150%; /* 27px */
}
.about-us-text {
  color: #fbfbfb;
  text-align: center;
  font-size: 18px;
  line-height: 150%; /* 27px */
}
.about-us-smal-container {
  box-sizing: border-box;
  width: 317px;
  height: 211px;
  padding: 34px 75px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #036;
}
.about-us-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1340px) {
  .about-us-title {
    font-size: 42px;
  }
  .about-us-link {
    visibility: visible;
    display: flex;
    justify-self: center;
    align-items: center;
    color: #343434;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
  }
  .about-us-content-container {
   flex-direction: row;
  }
  .about-us-first-container {
    width: 658px;
  }
  .about-us-info {
    flex-direction: row;
  }
  .about-us-content-title {
    font-size: 36px;
  }
}
/* ================== courses ======================= */

.courses-section {
  padding-bottom: 122px;
}
.courses {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.courses-level {
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 20px;
  border: 2px solid #036;
}
.courses-top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-top-info-level {
  display: flex;
  gap: 20px;
  align-items: center;
}
.courses-icon-star {
  border-radius: 12px;
  background-color: #036;
  padding: 16px;
  width: 28px;
  height: 28px;
}
.courses-title {
  color: #036;
  width: 200px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 36px */
  text-transform: uppercase;
}
.courses-fe-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.courses-fe-item {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 45px;
  background-color: #eff3f7;
}
.courses-icon {
  width: 24px;
  height: 24px;
}
.courses-fe-text {
  color: #343434;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.courses-second-title {
  color: #036;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; /* 30px */
  text-transform: uppercase;
}
.courses-lable {
  color: #343434;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.courses-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}
.courses-item {
  display: flex;
  gap: 16px;
  color: #343434;
  font-size: 18px;
  line-height: 150%; /* 27px */
}
.courses-check {
  width: 24px;
  height: 24px;
}
.courses-price-container {
  display: flex;
  gap: 32px;
}
.courses-price-title {
  color: #036;
  font-size: 30px;
  font-weight: 500;
  line-height: 150%; /* 45px */
  text-transform: uppercase;
  position: relative;
}
.courses-price-title::after {
  position: absolute;
  content: "";
  background-color: #003366;
  width: 2px;
  height: 45px;
  right: -16px;
}
.courses-price {
  color: #036;
  font-size: 30px;
  font-weight: 500;
  line-height: 150%; /* 45px */
  text-transform: uppercase;
}
.courses-btn {
  display: flex;
  width: 216px;
  padding: 14px 30px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  background-color: #036;
  color: #fbfbfb;
  font-size: 20px;
  line-height: 150%; /* 30px */
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.courses-btn:hover,
.courses-btn:active,
.courses-btn:focus {
  color: #036;
  background-color: #fff;
  border-color: #036;
}
@media screen and (min-width: 1340px) {
  .courses-top-info {
    width: 1260px;
  }
  .courses-fe-list {
   flex-direction: row;
  }
  .courses-level {
    padding: 40px;
  }
  .courses-title {
    width: 590px;
    font-size: 24px;
  }
}
/* ================== form ======================= */
.form-section {
  background-color: #036;
  padding: 50px 0;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.form-text-container {
  width: 300px;
}
.form-title {
  color: #fbfbfb;
  font-family: " Poppins", sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}
.form-text {
  color: #fbfbfb;
  font-size: 18px;
  line-height: 150%; /* 27px */
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form-input {
  display: flex;
  box-sizing: border-box;
  height: 64px;
  padding: 12px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #ececec;
  background-color: #fbfbfb;
  color: #343434;
  font-size: 18px;
  line-height: 150%; /* 27px */
}
.form-btn {
  padding: 14px 30px;
  border-radius: 14px;
  background-color: #fbfbfb;
  border-radius: 14px;
  border-color: transparent;
  background-color: #fbfbfb;
  color: #036;
  width: 213px;
  font-family: " Poppins", sans-serif;
  font-size: 20px;
  line-height: 150%; /* 30px */
  margin-top: 16px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:active,
.form-btn:focus {
  color: #fff;
  background-color: rgb(2, 117, 233);
}
@media screen and (min-width: 1340px) {
  .form-container {
   flex-direction: row;
  }
  .form-text-container {
    width: 658px;
  }
  .form-text {
    width: 580px;
  }
  .form-input {
    width: 658px;
  }
}
/* ================== Testimonials ======================= */

.testimonials-section {
  padding: 50px 0;
}
.testimonials-title {
  color: #036;
  font-family: " Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.review-list {
  display: flex;

  margin-bottom: 50px;
}
.review-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 658px;
  border-radius: 12px;
  border: 1px solid #036;
  background-color: #fbfbfb;
}
.review-avatar{
  width: 200px;
  height: 225px;
  border-radius: 12px;
}

.review-name {
  color: #343434;
  font-family: " Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.review-role {
  color: #6b6b6b;
  line-height: 150%; /* 24px */
}

.review-star {
  width: 24px;
  height: 24px;
}
.review-text {
  color: #343434;
  line-height: 150%; /* 24px */
  margin-top: 16px;
}

.sidebar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 12px 14px;
  align-items: center;
  gap: 30px;
  border-radius: 100px;
  border: 1px solid #bfccd8;
  width: 221px;
  margin: 0 auto;
  position: relative;
}
.sidebar-btn {
  display: flex;
  justify-self: center;
  align-items: center;
  border-color: transparent;
  width: 32px;
  height: 32px;
  padding: 6px;
  gap: 10px;
  border-radius: 46px;
  background-color: #036;
}

.sidebar-next {
  rotate: 180deg;
  width: 32px;
  height: 32px;
}
.sidebar-prev {
  width: 32px;
  height: 32px;
}
.swiper-pagination {
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.custom-pagination-bullet {
  width: 13px;
  height: 4px;
  border-radius: 20px;
  background: #C2D1E0;
  transition: background-color 0.3s;
}

.custom-pagination-bullet.swiper-pagination-bullet-active {
  width: 24px;
height: 4px;
  background-color: #003366;
  border-radius: 20px; 
}
.slider-btn-prev.swiper-button-disabled,
.slider-btn-next.swiper-button-disabled {
  background-color: #C2D1E0; 
  cursor: not-allowed; 
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
  top: 15px;
  left: 57px;
  width: 100px;
}
@media screen and (min-width: 1340px) {
  .testimonials-title {
    font-size: 42px;
  }
  .review-item {
    flex-direction: row;
  }
  .review-text {
    width: 340px;
  }
}
/* ================== FAQ ======================= */
.faq-section {
  padding: 50px 0;
}

.faq-title {
  margin-bottom: 20px;
  color: #036;
  font-family: " Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordeon-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accordeon-item {
  display: flex;
  padding: 30px 40px;
 justify-content: space-between;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #036;
  background-color: #fbfbfb;
}
.accordeon-title {
  color: #343434;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.accordeon-btn {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border-color: transparent;
  background-color: #036;
  color: #FBFBFB;
  font-size: 25px;
  font-weight: 100;
}
.accordeon-text {
  color: #343434;
  font-size: 16px;
  line-height: 150%; /* 27px */
  position: relative;
  margin-top: 60px;
}
.accordeon-text::after {
  content: "";
  width: 235px;
  height: 1px;
  background-color: #036;
  left: 0;
  top: -30px;
  position: absolute;
}
.faq-form-container {
  box-sizing: border-box;
  display: flex;
  height: 611px;
  padding: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background-color: #036;
  box-shadow: 10px 10px 50px 0px rgba(0, 98, 255, 0.03);
}
.faq-form-title {
  color: #fbfbfb;
  font-family: " Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%; /* 36px */
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}
.faq-form-title::after {
  content: "";
  width: 230px;
  height: 1px;
  background-color: #fbfbfb;
  left: -20px;
  bottom: -40px;
  position: absolute;
}
.faq-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq-form-input {
  box-sizing: border-box;
  height: 64px;
  padding: 12px 14px;
  border-radius: 4px;
  border: 1px solid #ececec;
  background-color: #fbfbfb;
  color: #343434;
  font-size: 18px;
  line-height: 150%; /* 27px */
}
.faq-form-input-text {
  box-sizing: border-box;
  height: 114px;
  padding: 12px 14px;
  border-radius: 4px;
  border: 1px solid #ececec;
  background-color: #fbfbfb;
  color: #343434;
  font-size: 18px;
  line-height: 150%; /* 27px */
  margin-bottom: 20px;
}
.faq-form-btn {
  display: flex;
  box-sizing: border-box;
  padding: 14px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  border-color: transparent;
  background-color: #fbfbfb;
  color: #036;
  font-size: 20px;
  line-height: 150%; /* 30px */
  height: 58px;
  margin: 0 auto;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.faq-form-btn:hover,
.faq-form-btn:active,
.faq-form-btn:focus {
  color: #fff;
  background-color: rgb(2, 117, 233);
}
@media screen and (min-width: 1340px) {
  .faq-container {
   flex-direction: row;
  }
  .faq-title {
    font-size: 42px;
  }
  .accordeon-item {
    width: 722px;
  }
  .accordeon-text {
    width: 612px;
  }
  .accordeon-text::after {
    width: 612px;
  }
  .accordeon-text {
    font-size: 18px;
  }
  .accordeon-title {
    font-size: 20px;
  }
  .faq-form-container {
    width: 544px;
  }
  .faq-form-input {
    width: 424px;
  }
  .faq-form-input-text {
    width: 424px;
  }
  .faq-form-title::after {
    width: 424px;
    left: -85px;
  }
}
/* ================== footer ======================= */
.footer-section {
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-copy {
  color: #036;
  text-align: center;
  line-height: 150%; /* 24px */
}
.footer-list {
  display: flex;
  gap: 16px;
}

.footer-nav-link {
  color: #343434;
  padding: 12px 8px;
  text-align: center;
  font-weight: 500;
  line-height: 100%; /* 16px */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav-link:hover,
.footer-nav-link:active,
.footer-nav-link:focus {
  color: #003366;
}
@media screen and (min-width: 1340px) {
  .footer {
flex-direction: row;
  }
}
/* ================== courses menu ======================= */
.courses-menu-container {
  display: flex;
padding: 12px 14px;
align-items: center;
gap: 30px;
border-radius: 100px;
border: 1px solid  #BFCCD8;
background-color: #bfccd87c;
width: 150px;
position: absolute;
bottom: -35px;
right: 305px;
visibility: hidden;
}
.courses-menu-list {
  margin: 0 auto;
}

.courses-menu-link{  
  color:  #343434;
  text-align: center;
  font-weight: 500;
  line-height: 100%; /* 16px */
}
.courses-menu-link:hover,
.courses-menu-link:active,
.courses-menu-link:focus {
  color: #003366;
}

.courses-is-open{
  visibility: visible;
}
.scroll-btn {
  display: block;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 9;
  border-radius: 50px;
  border: 1px solid #003366;
}
.scroll {
  rotate: 180deg;
}
@media screen and (min-width: 1340px) {
  .scroll-btn {
    display: none;
  }
  }
  /* Mobile menu */
  .mobile-menu {
    background-color: #003366;
    padding: 30px 40px;
    position: fixed;
    z-index: 999999999;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }
  .mobile-menu.is-open {
    transform: translateX(0%);
}
.mobile-menu-container{
  position: relative;
  width: 220px;
}
  .mobile-menu-list {
    margin-top: 50px;
  }
  .mobile-menu-item {

    margin-bottom: 10px;
  }
  .mobile-menu-nav-link {
    color: #BFCCD8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-nav-link:focus,
  .mobile-menu-nav-link:hover,
  .mobile-menu-nav-link:active {
    color: #e0e7ef;
  }
  .mobile-close-btn {
    border: 1px solid #e7e9fc;
    border-color: #e7e9fc;
    background-color: transparent;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 9999999;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}